.bundle
._*
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
public/assets/backbone.js
public/assets/common.css
public/assets/common.js
public/assets/empty.css
public/assets/projects.js
public/assets/workspace.css
public/assets/workspace.js
.DS_Store
Gemfile.lock
public/assets/app.js
public/assets/logged_in.js
public/assets/templates.js
public/assets/testing.css
public/assets/testing.js
