[submodule "public/javascripts/lib/morris.js"]
	path = public/javascripts/lib/morris.js
	url = git@github.com:ian7/morris.js.git
[submodule "public/javascripts/lib/underscore"]
	path = public/javascripts/lib/underscore
	url = git@github.com:ian7/underscore.git
[submodule "public/javascripts/lib/backbone"]
	path = public/javascripts/lib/backbone
	url = git@github.com:ian7/backbone.git
[submodule "public/javascripts/lib/backbone.marionette"]
	path = public/javascripts/lib/backbone.marionette
	url = git@github.com:ian7/backbone.marionette.git
[submodule "public/javascripts/lib/backbone.gepetto"]
	path = public/javascripts/lib/backbone.gepetto
	url = git@github.com:ian7/backbone.geppetto.git
[submodule "public/javascripts/lib/backbone.subroute"]
	path = public/javascripts/lib/backbone.subroute
	url = git@github.com:ian7/backbone.subroute.git
[submodule "public/javascripts/lib/backbone.shortcuts"]
	path = public/javascripts/lib/backbone.shortcuts
	url = git@github.com:ian7/backbone-shortcuts.git
[submodule "public/javascripts/lib/keymaster"]
	path = public/javascripts/lib/keymaster
	url = https://github.com/madrobby/keymaster.git 
[submodule "public/javascripts/lib/bootstrap"]
	path = public/javascripts/lib/bootstrap
	url = git@github.com:ian7/bootstrap.git
[submodule "public/javascripts/lib/jquery"]
	path = public/javascripts/lib/jquery
	url = git@github.com:ian7/jquery.git
[submodule "public/javascripts/lib/jquery-ui"]
	path = public/javascripts/lib/jquery-ui
	url = git@github.com:ian7/jquery-ui.git
[submodule "public/javascripts/lib/jquery-tools"]
	path = public/javascripts/lib/jquery-tools
	url = git@github.com:ian7/jquerytools.git
[submodule "public/javascripts/font-awesome"]
	path = public/javascripts/font-awesome
	url = git@github.com:ian7/Font-Awesome.git
[submodule "public/javascripts/lib/font-awesome"]
	path = public/javascripts/lib/font-awesome
	url = git@github.com:ian7/Font-Awesome.git
