[submodule "public/javascripts/lib/morris.js"]
	path = public/javascripts/lib/morris.js
	url = git@github.com:ian7/morris.js.git
[submodule "public/javascripts/lib/underscore"]
	path = public/javascripts/lib/underscore
	url = git@github.com:ian7/underscore.git
[submodule "public/javascripts/lib/backbone"]
	path = public/javascripts/lib/backbone
	url = git@github.com:ian7/backbone.git
[submodule "public/javascripts/lib/backbone.marionette"]
	path = public/javascripts/lib/backbone.marionette
	url = https://github.com/derickbailey/backbone.marionette.git
[submodule "public/javascripts/lib/backbone.gepetto"]
	path = public/javascripts/lib/backbone.gepetto
	url = git@github.com:ian7/backbone.geppetto.git
[submodule "public/javascripts/lib/backbone.subroute"]
	path = public/javascripts/lib/backbone.subroute
	url = git@github.com:ian7/backbone.subroute.git
