<h1>New issue</h1>
<br/>
<br/>
<form action="<%= issues_url %>" method="post">
    <p>
        <label for="taggable_name">
            Name
        </label>
        <br/>
        <input id="taggable_name" name="issue[name]" size="70" type="text" />
    </p>
    <p>
        <label for="taggable_description">
            Description
        </label>
        <br/>
        <textarea cols="70" rows="10" id="taggable_description" name="issue[description]"></textarea>
    </p>
	
	<%= render :partial=>"attributes_form" %>
	
    <p>
        <input name="commit" type="submit" value="Create" />
    </p>
</form>