    	
    	<span class="focusedUsers"></span><b>Issue:</b> <span class="e6" contenteditable="true"><%= item.get('name') %></span>
		<% if( !item.isNew() ) { %>
			<div style="float: right">
	    		<div class="button gray expand">Expand</div> 
				<div class="button orange details">Details</div>
		    	<div class="button black deleteItem">Delete</div>
			</div>
		<table class="alternativeList"></table>
	   <% } %>
