	<table class="itemDetails">
		<% _(item.attributes).each(function(value, key) { 
			if (key.charAt(0) != '_' && key != "url" && key != "el" && key != "id" && key != "item_url" && key != "type") { %>
		<tr>
		<td>
			<i><%= key %>: </i>
		</td>
		<td>
			<div class="editable" id="<%=key%>" contenteditable="true"><% if( value ) { %><%= value %><% } else { %>(empty)<% } %></div>
		</td>
		</tr>

		<% }; 
		});%>
	</table>
	<table class="tagsList"></table>