<div style="float: right">
	<div class="button orange toIndex">Index</div>
	<div class="button rosy toDetails">Details</div>
	<div class="button rosy toAlternatives">Alternatives</div>
	<div class="button rosy toVisualization">Graph</div>
</div>
