<table width="100%">
	<tr>
		<td style="text-align: left;">
			<div class="button orange toIndex">Index</div>
		</td>
		<td style="text-align: right;">
			<div class="button gray itemShowNavigation" id="details">Description</div>
			<div class="button gray itemShowNavigation" id="alternatives">Alternatives</div>
			<!--<div class="button gray itemShowNavigation" id="visualization">Graph</div>-->
		</td>
	</tr>
</table>