<%= relationCounts["xxx"] %>
<% _(relationTypes).each( function( relationScope, relationType ) { %>
	<div class="button rosy switchView" id="<%= relationType %>">
		<%= relationType %> 
		<% if( relationCounts[relationType] ) { %>
			(<%= relationCounts[relationType] %>)
		<% } else { %>
			(0)
		<% } %>
	</div>
<% },this); %><ul class="relations"></ul>
<div class='searchBox' contenteditable='true'>(type to add new one)</div>