<tr>
	<!--
	<td>
		<%=tag.get('tagging_id') %>
	</td>
	-->
    <td>
		<!--<b>Type:</b>--> <b><%= tag.get('type') %></b>
	</td>
	<td>
		<!--<b>Name:</b>--> <%= tag.get('name') %>   
	</td>
	<td>
		<div class="button gray unTag">unTag</div>
	</td>
</tr>