<tr>
    <td>
		<b>Type:</b> <%= tag.get('type') %>, 
	</td>
	<td>
		<b>Name:</b> <%= tag.get('name') %> (tagging: <%=tag.get('tagging_id') %>)  
	</td>
	<td>
		<div class="button gray unTag">unTag</div>
	</td>
</tr>