

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Item classifier</h3>
</div>

<div class="modal-body">
    <span class="itemClassifier">
        Unclassified:
        <ul id="unclassified">
        </ul>
    </span>
    <span id="classified">
    </span>
</div>

<div class="modal-footer">
  <!--<a class="btn btn-primary" id="save">Save</a>-->
</div>






