<div id='layout'>
    <div id='ribbon'/>
    <div id='trunk'>
        <div id='leftSidebar'/>
        <div id='central'></div>
        <div id='rightSidebar'>
            <div id="speedButtonsSidebar"/>
            <div id='tagSidebar'/>
            <div id='notificationSidebar'/>
            <div id='clockSidebar'>
                <span id="time">00:00</time>
            </div>
        </div>
    </div>
    <div class='modal hide' id='modal'></div>
    <div id='footer'/>
</div>