<div id='layout'>
    <div id='ribbon'/>
    <div id='trunk'>
        <div id='leftSidebar'/>
        <div id='center'></div>
        <div id='rightSidebar'>
            <div id="speedButtonsSidebar"/>
            <div id='tagSidebar'/>
            <div id='notificationSidebar'/>
        </div>
    </div>
    <div class='modal hide' id='modal'></div>
    <div id='footer'/>
</div>