<a href='#projects'>Projects</a>
<a href='#capture'>Capture</a><br>
<a href='#'>Home</a> &gt; <div id='projectID'></div>

<div class="ribbonStatus floatRight">
    <div class="userName">Logged as: <%= userName %></div>
    <div class="">Status: <span class="status">Unknown</div></div>
</div>