<span class="hyperlink" id="capture">Capture</span><br>
<span class="hyperlink" id="projects">Projects</span> &gt; <span id='projectID'></span>

<div class="ribbonStatus floatRight">
    <div class="userName">Logged as: <%= userName %></div>
    <div class="">Status: <span class="status">Unknown</span> (<span id="connectionCount">...</span>)</div>
</div>