<div class="debug">
    <i class="icon-remove floatLeft opaqueHover" id="deleteRelation"></i> 
</div>
<span id='tagName'>
    <span class="floatRight">
        <div class="button" id="tagButton"></div>
    </span>
    <%= get('name') %>
</span>
