<!-- typeSelectorItem -->
<span class="clickable link" id="name">
    <b>Type</b>: <%= get('name') %> 
</span>
<span class="debug">
    (<span id="subCount">...</span>)
</span>
<div id="subItems">
</div>
<div id="items">
</div>
