/* colors taken from buttons
.decision.Green {
	background: #64991e;
}*/

.decision.blue{
	background: #0095cd;
}

.decision.red{
	background: #d81b21;
}

.decision.white{
	background: #eeeeee;
}

.decision.gray{
	background:	#606060;
}

.decision.green{
	background: #64991e;
}
