/*---------------------infovis start---------------------*/
#infovis { 
    overflow:hidden;
    position: relative;
    background-color:#000;
    height:600px;
    margin:30px;
    width:800px;
    border-radius:6px;
    display:block;
    margin:0 auto;
    width:100%;
    margin-top:15px;
} 
#inner-details {
  font-size:12px;
}

span.close {
  color:#FF5555;
  cursor:pointer;
  font-weight:bold;
  margin-left:3px;
}

span.name {
  cursor: pointer;
}

/*TOOLTIPS*/
.tip {
   text-align: left;
   width:auto;
   max-width:500px;
   color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

.tip-title {
  font-size: 11px;
  text-align:center;
  margin-bottom:2px;
}




/*---------------------infovis end---------------------*/

#checkboxes{
  position: relative;
  float: left;
  text-align: left !important;
  top: 0px;
  left: 10px;
}

#infonode {
  opacity: 0.5 !important;
  bottom: 0px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 380px;
  min-width: 0px;
  right: 0px;
  z-index: 10;
}

.infotable{
  z-index: 10;
  max-width: 400px;
  padding: 10px;
  color: #fff;
  opacity: 0.7 !important;
}
.infotable th {
  color: #fff !important;
  background: #000 !important;
  max-width: 200px;
  }
.infotable td {
  color: #fff;
  background: #000 !important;
  max-width: 200px;
  }
  
  
/*---------------------infovis end---------------------*/
*--------------------New Vis CSS--------------------*/

/*TOOLTIPS*/

.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;

    padding:7px;

}

/*-------------------------Slider---------------------------*/

#slider { 

  margin: 10px; 

}

/*-------------------------Metrics Picker----------------------*/

#metricsPicker {
  opacity: 0.8;

  position: absolute;

  width: 250px;

  right: 1px;
  
  top: 115px;

  z-index: 10;

}

#metricsPicker ul {
  list-style: none;
}

#metricsPicker table td{
  background: #000 !important;
}

#log {
    position:absolute;
    top:300px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
    z-index: 20;
    
}

