/*---------------------basic formatting start---------------------*/
html{
  width:100%;
}
html, body {
  margin:0;
  padding:0;
}
body {
  font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
  font-size:9pt;
  /* text-align:center; */
  margin:0;
  padding:0;
  background: white; 
  /* #fff url(../images/body_back.png) repeat-x top; */
}


*{
 margin: 0;
 baseline: 16px;
 line-height: 16px;
}

html, body {
 height: 100%;
}

img {
  border:0 none;
}
img#background{
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
}
img#background_bottom{
  position:fixed;
  bottom:0;
  right:0;
  z-index:-1;
}
a {
  text-decoration:none;
}
/*---------------------basic format end---------------------*/

#vertical {
  position:fixed;
/*  top:100px; */
  left:0px;
  z-index:1000;
}

#tab1, #tab2, #tab3, #tab4 {
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  position:fixed;
  padding: 1em;
  top:100px;
  left:15px;
  z-index:1000;  
}

#tab1 {
  background-color: #F5B800;
  top:120px;
}
#tab2 {
  background-color:red;
  top:200px;
}
#tab3 {
  background-color:green;
  top:282px;
}
#tab4 {
  background-color: #33CCFF;
  top:357px;
}

#vertical{

}

/*---------------------intro start---------------------*/
div.intro {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 7em;
  margin-bottom: 3em;
  background: #EEEEEE;
  padding: 2em;
  font-size: x-large;
  font-family: Helvetica;
  // -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
    border-radius:6px;
        }
div.intro a{
  color: #555;
}
/*---------------------intro end---------------------*/
table.artifactDetails th {
  text-align: right;
  width: 100px;
  height: 30px;
  }
/* alternatlivesList block */
div.alternativesList {
  width: 100%;
  }
table.alternativeList {
  width: 97%;
  font-size: 9pt;
  margin-left: 3em;
  margin-bottom: 1em;
  margin-top: 0.0em;
}
tr.Positive td {
  background-color: #AEFF93;
  }
tr.Negative td {
  background-color: #FFB593;
  } 
tr.Irrelevant td{
  background-color: #C9C5F9;
}
td.styled {
  padding-left: 1em;
  padding-right: 1em;
  }
/*---------------------ribbon start---------------------*/
table.ribbon {
  border: 0px;
  background-color: black;
  width: 100%;
  
}
table.ribbon td {
  border: 0px;
  background-color: black;
  padding-left: 0.5em;
  padding-right: 0.5em; 
}
table.ribbon tr {
  border: 0px;
  padding: 0px;
  background-color: black;
  color:  white;
  text-align: center;   
}
/*---------------------ribbon end---------------------*/

A.header {
  text-decoration: none;
  color: white;
  }
A.header:VISITED {
  color: white;
}
/* paragraph tags */ 
  p.footer{
    text-align: right;
    } 
  p.rightBottom{
    text-align: right;
    }

/* id specific */ 
#issue {
  margin-left: 2em;
}

/* #alternatives {
  margin-left: 6em;
}
*/
div.editArtifact {
  width: 500px;
  background-color: white;
  margin: 0 auto;
  padding: 2em;
}
div.selectArtifact {
  width: 800px;
  background-color: white;
  margin: 0 auto;
  padding: 2em;
}

div.artifactTags {
  max-width:450px;
  min-width:400px;
  float: right;
  margin: 0 auto;
  position: relative;
  left: 10px;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  margin:0 auto;
  padding: 10px 10px 10px 10px;
  //background: #aaaaaa;
  border: 1px #888 solid;
}
div.cloud {
  background:rgba(250,250,250,0.5);
  width: 90%;
  margin-left: 1em;
  margin-right: 1em;
  margin: 0 auto;
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  padding: 15px;
  }
/*---------------------tag cloud td specific start---------------------*/
ul#tagcloud{
  list-style: none;
  margin: 0;
    padding: 0.5em;
  line-height: 1.8;
  text-align: center;
}
ul#tagcloud li{
  display:inline;
  text-decoration: underline;
  margin: 5px;
}
ul#tagcloud a{
  text-decoration: none;
  color: #444
}
ul#tagcloud a:hover{
  background: #000;
  color:#fff;
  text-decoration: underline;
  margin-right: 0.2em
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
ul#tagcloud li{
  //margin-right: 10px;
  //margin-left: 10px;
}
ul#tagcloud a#rank1{
  font-size:100%;
}
ul#tagcloud a#rank2{
  font-size:120%;
}
ul#tagcloud a#rank3{
  font-size:140%;
}
ul#tagcloud a#rank4{
  font-size:160%;
}
ul#tagcloud a#rank5{
  font-size:180%;
}
ul#tagcloud a#rank6{
  font-size:200%;
}

div#central table.artifactDetails{
  min-width:400px;
  background:#000000;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
}

/*---------------------tag cloud td specific end---------------------*/
div.cloudParents{
  background-color: black;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  }
div.cloudTags {
  background: #EEEEEE;
  margin: 0 auto;
  margin-bottom: 3em;
  text-align: center;
  padding: 2em;
}
div.issuesFloater {
  width: 600px;
  background: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  padding-bottom: 1em;
  padding-top: 1em; 
}
a.s1, a.s2, a.s3, a.s4, a.s5{
  text-decoration: none;
  }
a.s1:HOVER, a.s2:HOVER, a.s3:HOVER, a.s4:HOVER, a.s5:HOVER{
  background: transparent;
  color: black;
  text-decoration: underline;
  }
a.s1{
  font-size: 1em;
  }
a.s2{
  font-size: 1.5em;
  }
a.s3{
  font-size: 2em;
  }
a.s4{
  font-size: 2.5em;
  }
a.s5{
  font-size: 3em;
  }


table {
  font-size: 9pt;
}
/*---------------------#center table end---------------------*/
/*---------------------center end---------------------*/

table#tagsTable thead tr th{
  text-align: center;
  }
}
/*---------------------link start---------------------*/
div.link{
  margin: 10px auto 0;
}
div.link a{
  background: #eeeeee;
  margin: 5px 5px 5px 5px;
  padding: 13px 3px 0;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  /*
  -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  */
  border: 1px #888 solid;
}
/*---------------------link end---------------------*/
/*---------------------footer start---------------------*/
/*#footer{

  bottom: 0;
  width: 100%;
  background: #000000;
  border-top:solid 1px #000000;
  border-bottom:solid 1px #000000;
  font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
  font-size:1em;
  color: #ffffff;
  text-align:right;
  margin:30px 0 30px -30px;
  padding: 9px 60px 9px 0;
}
#footer a{
  color:#555;
}*/
/*---------------------footer end---------------------*/

/*---------------------jquery tools overlay start---------------------*/
/* the overlayed element */

/*
div.overlay {
  width:700px;
  height:70%;   
  display:none;
  padding:55px;
}
#overlay {
  background-image:url(../images/transparent.png);
  color:#efefef;
  height:70%;
}
div.contentWrap {
  height:100%;
  overflow-y:auto;
}
div.overlay div.close {
  background-image:url(../images/close.png);
  position:absolute;
  right:5px;
  top:5px;
  cursor:pointer;
  height:35px;
  width:35px;
}
div.overlay.black {
  background:url(../images/transparent.png) no-repeat !important;
  color:#fff;
}
div.overlay.petrol {
  background:url(../images/petrol.png) no-repeat !important;
  color:#fff;
}
div.black h2, div.petrol h2 {
  color:#ddd;   
}
*/
/*
#overlay table,th,td{
  position:relative;
  border:none;
  border-collapse:collapse;
  font-family: corbel,'helvetica neue','trebuchet ms',arial,helvetica,sans-serif;
  font-size:1em;
  line-height:1.5em
}
#overlay table{
  min-width:400px;
  max-width:560px;
  width:560px;
  margin:0 auto;
  background:#6bcdf5;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
   -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.8);
  
}
#overlay tfoot{
  height: 15px;
}
#overlay thead, tfoot{
  color:#222222;
}
#overlay thead th{
  padding:0.5em 1em;
  text-transform:uppercase;
  text-align:left;
}
#overlay tbody td,tbody th{
  font-size:100%;
  padding:0.5em 1em;
  vertical-align:top;
}
#overlay tbody th{
  color:#222;
  text-align:right;
  border-right:1px solid #aaa;
}
#overlay tbody tr:nth-child(odd) { background-color:#444; }
#overlay tbody tr:nth-child(even) { background-color:#666; }
}
#overlay tfoot td, tfoot th{
  border:none;
}
#overlay tfoot th{
  text-align:right;
}
#overlay table a:link{
  line-height:1em; 
  color:#00ff00;
  display:inline-block;
  padding:3px 7px;
  margin:-3px -7px;
}
#overlay table a:visited{
  color:#00ff00;
  line-height:1em;
  display:inline-block;
  padding:3px 7px;
  margin:-3px -7px;
  }
#overlay table a:hover{
  text-decoration:none;
  background:black;
  color:white;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  }
#overlay ::-moz-selection{
  background:#202020;
  color:white;
  }
#overlay ::selection  {
  background:#202020;
  color:white;
  }
#overlay thead ::-moz-selection, tfoot ::-moz-selection{
  background:white;
  color:#202020;
  }
#overlay thead ::selection, tfoot ::selection{
  background:white;
  color:#202020;
  }
#overlay td:nth-of-type(-n+2){text-align:left;}

*/
/*---------------------jquery tools overlay end---------------------*/
/


/*-----------------Search Tags in Ribbon Style-----------------*/

#searchResults {
  background-color: white;
  position: absolute;
  z-index: 9999999999;
}

#searchResults ul{
  margin: 0px;
  padding-top: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  list-style: none;
}


/*---------------  Wizzards stuff  -------------------------------*/
div.wizard-pad {
  width: 95%;
  padding: 10px;
  background-color: red;
  margin: 2em;
}

div.wizard-block {
  padding: 4em;
  margin: 1em;
  text-align: center;
  background-color: #FFAAAA;
}


/*-------- growable textareas ---- */
/*  textarea  {
    overflow:hidden;
    height:auto;
    width:326px;
  }
*/

section.subItem {
  background-color: #EEEEEE;
  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
  margin: 3px;
}
div.r {
  padding: 5px;
  background-color: #F7F7F7;
  margin: 3px;
}



/* Component containers
----------------------------------*/
/*
#sign-in-up .ui-widget { font-family: Trebuchet MS,Verdana,Arial,sans-serif; font-size: 1em; }
#sign-in-up .ui-widget input, #sign-in-up .ui-widget select, #sign-in-up .ui-widget textarea, #sign-in-up .ui-widget button { font-family: Trebuchet MS,Verdana,Arial,sans-serif; font-size: 1em; }
#sign-in-up .ui-widget-header { border: 1px solid #ffffff; background: #464646 url(images/464646_40x100_textures_01_flat_100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
#sign-in-up .ui-widget-header a { color: black; }
#sign-in-up .ui-widget-content { border: 1px solid #ffffff; background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 50% 50% repeat-x; color: #222222; }
#sign-in-up .ui-widget-content a { color: #222222; }
*/

.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

/* routing types table */

table.typeMenu {
  height: 10em;
}

table.typeMenu td.typeName{
/*  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  padding-top:    1em;
  padding-bottom: 1em;
  text-align:     center;
  width: 20px;
  height: 20px;*/
}

table.typeMenu td.typeName div.typeName{
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  text-align:     center;
  width: 30px;
}


table.rAttributes td.attributeName {
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}

table.rAttributes td.attributeValue {
}


/* notifications colloring */
div.notified0 {
  background-color: #3e88c5;
}
div.notified1 {
  background-color: #9ab6d8;
}
div.notified2 {
  background-color: #abc1dc;
}
div.notified3 {
  background-color: #bbcde1;
}
div.notified4 {
  background-color: #ccd7e5;
}
div.notified5 {
  background-color: #dde4ea;
}

div.pivot{
  cursor: pointer;
}

.hidden{
  display: none;
}
div.name{
    cursor:pointer;
}

section.itemDumpster{
  display:  none;
}


td.tags div.tags{
  position: fixed;
  top: 110px;
  right: 50px;
  width: 35%;
}

div.tags ul.tagSelector li{
  cursor:pointer;
}

div.tags ul.tagName {
  display: none;
}


p.elicitItemList {
  width: 60%;
  background: #EEEEEE;
  font-size: 10pt;
  min-height: 2em;
  margin-bottom: 1px;
  margin-bottom: 2px;
  padding: 0.5em;
}


table.itemAttributes{
  width: 100%;
  background: rgba(255,255,255,0.95);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

table.itemAttributes td.attributeName {
  width: 25%;
  font-weight: bold;
}

div.itemExtendedAttributes {
  display: none;
}

div.unelicit,
div.doelicit {
  width: 50px;
}

div.filter{
  background: #EEEEEE;
  margin: 0.5em;
  padding: 0.5em;
  padding-left: 1em;
}

li.red{
  color:  red;
  font-weight: bold;
}

li.black{
  color:  black;
}

div.header{
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 1em;
/*  width: 100%; */
  text-align: center;
  font-size: 120%;
}


table.elicitTable {
  width: 95%;
}



span.focusedUsers{
  float: left;
  z-index: 2;
  display: block;
  position: absolute;
}

span.altenrnativeFocusedUsers{
  margin-right: 1em;
}

/* sidebar */

div#right-sidebar{
  position: fixed;
  /*top:0;*/
  right:0;
  width:120px;
  height:94%;
  background-color: #D1D1D1;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 6pt;
 }

div#right-sidebar span.username{
    text-transform: capitalize;
}
/*
@media screen{
  body>div#right-sidebar{
   position:fixed;
  }
}
*/
 
 div#content{
  /*height:100%;*/
  margin-right: 120px;
  overflow:auto;
 }


div.editable{
  width:100%;
  min-width: 250px;

}

table.itemAttributes{
 /*  width:70%;
  margin: 1em auto;*/
  min-width: 70%;
  border-spacing: 0px;
  padding-left: 5em;
  margin-top: 1em;
}

table.itemAttributes tr.issueDetails div.editable:not(#name){
  min-height: 80px;
}

table.itemAttributes td.key,
table.itemAttributes th {
  font-weight: bold;
/*  vertical-align: top;*/
  width: 130px;
}

table.itemAttributes td {
/*  padding-bottom: 0.5em;*/
/*  vertical-align: top;*/
  padding: 1em;
  min-width: 450px;
  padding: 1em;
  padding-bottom: 0.5em;
  min-width: 450px;
  padding-top: 0.3em;  
}

div#sign-in,
div#sign-up {
  text-align: left;
  padding-left: 5em;
  padding-top: 4em;
  padding-bottom: 4em;
  }


table.authentications{
  text-align:center;
}


div#sign-in-up{
  width: 80%;
  margin: 0 auto;
}
/*
div#sign-in-up li.ui-tabs-selected{
  
}

div#sign-in-up li.ui-tabs-selected{
  
}
*/

div#sign-in-up li.sign-up{
  float:right;
}

div#sign-in-up ul{
  background: #eeeeee;
  border:1px solid #eeeeee;
}

div.login_failed {
  width: 80%;
  background-color: #EEE;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 5em;
  padding-right: 5em;
  margin: 5em auto;
  text-align: center;
}

.debug{
  
  display: none;
  
}


tr.focused{
  background-color: #eeeef8;
}

div#layout div#leftSidebar{
  background-color: red;
  display: none;
}

div#layout div#rightSidebar{
  background-color: #EEEEEE;
  width: 13em;
  height: 100%;
  position: fixed;
  top: 5em;
  right: 0px;
  z-index: 1000;
}

div#layout div#rightSidebar div#notificationSidebar{
  height: 33%;  
}

div#layout div#rightSidebar div#speedButtonsSidebar{
  /*height: 33%;*/
}

div#layout div#rightSidebar div#speedButtonsSidebar div.button{
  margin-bottom: 0.5em;
}

div#layout div#rightSidebar div#tagSidebar{
  /*height: 33%;*/
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 1em;
  min-height: 20%;
}

div#layout div#rightSidebar div.tagTree{
/*  background-color: #ffffb0; */
  padding-top: 2px;
  padding-left: 1px;
}

div.buttonWrapper {
  width:100%;
  text-align:center;
  background-color: black;
}

div#layout div#rightSidebar div#tagSidebar div#newTaggingButton {
/*  float: right;
  bottom: 0;
  position: fixed;
  right: 0px;*/
  margin-bottom: 1em;
  margin-right: 0.5em;
}

div.TagSidebarTemplate table.TagList{
  font-size: 80%;
  padding-left: 2px;
  padding-top: 2px;
  width:100%;
}

div.TagSidebarTemplate table.TagList tr.head,
div.TagSidebarTemplate table.TagList tr.foot{
  background-color: black;
  color: #ffff90;
}

div.TagSidebarTemplate table.TagList tr.TaggingViewTemplate:nth-child(odd){
  background-color: #fffff0;
}

div.TagSidebarTemplate table.TagList tr.TaggingViewTemplate:nth-child(even){
  background-color: #ffff90;
}


div#layout div#speedButtonsSidebar{
  text-align:center;
  width:100%;
  padding-top: 1em;
  background-color: black;
}

div#layout div#ribbon{
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  height: 2em;
  top: 0px;
  left: 0px;
  z-index: 10;
}

div#layout div#trunk {
  /*background-color: blue;*/

  position: absolute;
  top: 2em;
  width: 100%;
}

div#layout div#central{
  background-color: white;
  margin-right: 13em;
  margin-top: 2em;
  padding: 2em;
}

div.subProjects { 
  padding-left: 3em;
}

div.project {
  display: inline;
}

div.project div.name {
  display: inline;
  font-weight: bold;
  text-decoration: underline;
}

div.project div.moreDetailsButton {
  display: inline;
  text-decoration: underline;  
}

div.project div.moreDetails{
  padding-left: 3em;
  color: green;
}

div.projectView{
  margin: 1em;
  padding: 2em;
  background-color: #EEEEEE;
  margin: 0 auto;
  width: 70%;
  margin-top: 2em;
}

div#newProjectButton{
  float: right;
  margin-right: 2em;
}

.hide{
  display:none;
}

img.spinner{
  padding: 2em;
}


div.projectDetails{
  background: #EEEEEE;
  padding: 3em;
  margin-top: 2em;
}
div.spinner {
  width: 0%;
  margin: 0 auto;
}

div.issueCompactView {
  padding-top: 4px;
  padding-bottom: 6px;
    width: 100%;
  background: #EEE;
  font-size: 10pt;
  min-height: 2em;
  margin-bottom: 0.1em;
  padding: 0.5em;
  margin-top: 0.3em;
}

div.ribbonWidget {
  padding-left: 2em;
  background-color: brown;
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  font-size: 120%;
  height: 3.2em;
  padding-top: 1em;

}

div.ribbonWidget a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}


div#rightSidebar div#notificationSidebar{
  overflow: hidden;
  padding-top: 2px;
  padding-left: 5px;
}

table.NotificationSidebar tr.UpdateNotificationTemplate {
  font-size: 70%;
}

div.modal div.searchBox{
  float: left;
}

div.modal table.tagSelector{
  padding: 1em;
  width: 100%;
}

div.modal table.tagSelector tr.head{
  background-color: gray;
  color: white;
}

div.modal table.tagSelector tr.tag th{
  padding-left: 5px;
  padding-right:5px;
}

div.modal table.tagSelector tr.tag td div.addTagging{
  cursor: pointer;
  color: green;
  text-decoration: underline;
}

div.modal table.tagSelector tr.tag td div.removeTagging{
  cursor: pointer;
  color: red;
  text-decoration: underline;
}


div.action{
  color: green;
  text-decoration: underline;
  cursor: pointer;
  display:inline;
}
div.filteringCriteria{
  padding-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 1em;
  background-color: #EEEEEE;
}

table.eventLog td {
  text-align:center;
}

div.feedbackBar{
  display: none;
}

div.help{
  padding: 1em;
  margin: 0.5em;
}

ul.tagType{
  margin-bottom:0px;
}
ul.tagType li {
  line-height: 1;
}


/* small decision details table */
table.decisionDetails {
  width: 100%;
  padding: 0.8em;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0.5em;
  border-spacing: 0px;
}
table.decisionDetails td{
    text-align:center;
    vertical-align:top;
}
table.decisionDetails td.rationale{
    text-align:left;
    padding-left: 1em;
    padding-right: 1em; 
}

table.decisionDetails td.type {
  width: 70px;
}
table.decisionDetails td.user {
  width: 100px;
}

table.decisionDetails td.timestamp {
  width: 150px;
}

table.decisions tr.foot div.button{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

div#rationaleText{
  width: 100%;
  min-height: 300px;
}


tr.reuseItem div.buttons {
  float:right;
}

tr.reuseItem div.expand {
  width: 55px;
}
tr.reuseItem div.elicit{
  width: 55px;
}
table.reuseWidget {
  width: 60%;
  margin-left:3em;
}

table.allIssues {
  width: 100%;
}

table.allIssues tr.reuseItem > td {
  width: 60%;
  background: #EEE;
  font-size: 10pt;
  min-height: 2em;
  margin-bottom: 1px;
  margin-bottom: 2px;
  padding: 0.5em;
  border-bottom-color: white;
  margin-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-width: 0.75em;
  border-bottom-left-radius: 10px;
}


div.project div.more{
  display: inline;
  float:right;
}

div.header div#projectName {
  display: inline;
  font-weight: bold;
}

table.issuesList{
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  margin-top: 2em;
  background-color: #eee;
}
table.issuesList tr.LifeProjectIssue > td{
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

table.issuesList tr.LifeProjectIssue > td > span.name{
  font-weight: bold;
}

table.issuesList tr.LifeProjectIssue td table.alternativesList{
  width: 95%;
  margin-left: 3em;
  border-spacing: 0px;
  margin-top: 10px;
}

table.issuesList tr.LifeProjectIssue td table.alternativesList td{
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
}


table.issuesList tr.LifeProjectIssue td table.alternativesList td.decisionType{
  text-align:center;
  width: 150px;
}

div.layout div.header{
  margin-top: 3em;
}

div.TagSidebarTemplate div.caption{
  width: 100%;
  background: gray;
  color: white;
  text-align: center;
}

div.notification.link{
  text-decoration: underline;
  cursor: pointer;
}

table.alternativeList tr.decision td{
  vertical-align: bottom;
}


.bold {
  font-weight: bold;
}

div.button#newIssueButton{
  width: 100%;
  height: 4em;
  line-height: 4em;
}

div.focused{
  background-color: #ddddff;
}

span.issueName div#name {
    margin-left: 1em;
  /*display: inline;*/
  /*margin-left: 1em;*/
}

img.addAlternativeButton{
  margin-left: 6px;
  position:  relative;
  top: -2px;
}

div.alternativesLabel{
  line-height: 16px;
  font-weight: bold;
  display: inline;
  margin-top: 2px;
  padding-top: 2px;
}


img.anchor {
    float: right;
  
}
span.decisionCount {
    font-weight: bold;
}

div.userName{
/*  padding-right: 13em;
  float: right;
  position: absolute;
  top: 5px;
  right: 10px;*/
}

table.alternativelistdetails {
  width: 100%;
  padding-left: 2em;
}


table.alternativeListDetails tr.alternative.open{
/*
  background: #0095cd;
*/
  background: #99D5EB;
}

table.alternativeListDetails tr.alternative.negative{
  /*
  background: #d81b21;
  */
  background: #EFA4A6;  
}

table.alternativeListDetails tr.alternative.white{
  background: #eeeeee;
}

table.alternativeListDetails tr.alternative.colliding{
/*
  background: #606060;
  */
  background: #BFBFBF;
}

table.alternativeListDetails tr.alternative.positive{
/*
  background: #64991e;
  */
  background: #C1D6A5;
}

div.issueList{
  padding-top: 2em;
}

.italic {
  font-style: italic;
}

.floatRight {
  float: right;
/*  padding-right: 13em;
  position:  absolute;
  top: 10px;
  right:  5px;*/
}

div.ribbonStatus{
  padding-right: 3em;
  float: right;
  text-align: right;
}

div#subItems{
  padding-left: 3em;
}

.padLeft{
  padding-left: 3em;
}

.hyperlink { 
  text-decoration: underline;
  cursor: pointer;
}

.floatLeft{ 
  float: left;
}

.floatRight{
  float:right;
}

.halfWidth{
  width: 50%;
}

.fullWidth{
  width: 100%;
}

.headerPadding{
  padding: 3em;
  margin: 1em;
}

.red{
  color: red;
}

.link {
    cursor: pointer;
}

div.columns p {
    -webkit-column-count: 2;
    -webkit-column-rule: 1em solid black;
}

div.columnts br {
    -webkit-column-span: all;
}

.minHeight{
    min-height: 2.5em;
}
.padding1em{
    padding: 1em;
    margin: 0.4em;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.textAlignCenter{
  text-align: center;
}

.width70px{
  width: 70px;
}

div#speedButtonsSidebar div.button {
  width: 68%;
}

.opaqueHover {
  opacity: 0.5;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 2px;
  margin-right: 2px;
}

.opaqueHover:hover {
  opacity: 1.0;
  color: black;
}
.iconWidth{
  width: 38px;
}
.authorNameWidth{
  width: 150px;
}
.decisionNameWidth{
  width: 80px;
}
.timeStampWidth{
  width:150px;
}

table.alternativeListDetails tr.alternative{
  background: #dddddd;
  margin: 1em;
  padding-top: 1em;
  border-width: 10px;
  border-color: black;
}

*{
  cursor: default;
}

div.editable{
  cursor: text;
}


div.TaggingWidget div#itemSelector div#itemPane {
  max-height: 500px;
  min-height: 500px;
}
div.taggingListWidgetItem{
  margin-left: 1em;
  padding-left: 1em;
  margin-right: 2em;
  padding-right: 1em;
  margin-top: 1px;
  padding-top: 2px;
  margin-bottom: 1px;
  padding-bottom: 2px;
  min-height: 20px;
}

div.TaggingWidget div.taggingListWidgetItem div.button{
  width: 40px;
}

div.taggingListWidgetItem:hover{
  background-color: #cccccc;
}

table.alternativeListDetails tr.alternative span#header{
  padding-left: 1em;
}

table#notifications tr.notificationListWidgetItem:nth-of-type(odd) {
  background-color: #ccc; 
}
table#notifications tr.notificationListWidgetItem:nth-of-type(even){
  background-color: #eee; 
}