<table class='fullWidth'>
<tr>
    <th class='thirdWidth'>Related from:</th>
    <th class='thirdWidth'>focused element</th>
    <th class='thirdWidth'>Related to:</th>
</tr>
<tr>
    <td>
        <div id="to">
        </div>
    </td>
    <td id="item">
        <div id="item">
            Root: Type: <span class='bold' id="type"></span> Name: <span id="name"></span>
        </div>
    </td>
    <td>
        <div id="from"></div>
    </td>
</tr>
</table>
