    There should be some filtering here. <div class="button red" id='clear'>Clear</div>.
    <table width='100%' class="eventLog">
        <thead><%= renderAttributes() %></thead>
        <tbody></tbody>
    </table>