<td>
    <div class="button orange expand">expand</div>
    <div class="button black delete">delete</div>
    <table class="rAttributes"><%= renderAttributes() %></table>
    <section class="subItem"></section>
</td>