<div class='listWidget'>
    <div class='button green newR'>New</div>
    Search: <input type='text' class='searchBox'>
    <div class='spinner'>
        <center>
            <img src='/images/spinner.gif'/>
        </center>
    </div>
    <table class='list'></div>
</div>

