<h1>R#index</h1>

<div id="notice"></div>
<div id="app"></div>
<div id="tata"></div>
<div id="aa"></div>

<section class="itemList">
</section>


<%= include_javascripts :rs %>

<script type="text/javascript" charset="utf-8">

   App.init();

</script>
