<p>
	This project has:
	<ul>
		<li><%= (@project.taggables.select{ |t| t.type=='Issue'}).count %> <%= link_to 'Issues', issues_url( @project ) %>
		<li><%= (@project.taggables.select{ |t| t.type=='Alternative'}).count %> Alternatives
		<li><%= (@project.taggables.select{ |t| t.type=='Decision'}).count %> Decisions
	</ul>
</p>