<td>
    <table class="fullWidth">
        <tr>
            <td class="iconWidth">
                <i class="icon-trash opaqueHover" id="deleteAlternative"></i>
            </td>
            <td>
                <span class="editable" id="name"><%= get('name') %></span>
            </td>
            <td class="alternativeStatus">
                <span id="decisionStatus">...</span>
            </td>
        <tr>
    <table>
</td>