<div class="issueCompactView" id ="<%= get('id') %>">
    <span class="focusedUsers"></span>
    <b>Issue:</b> <span class="editable"></span>
        <div style="float: right">
            <div class="button gray expand">Expand</div> 
            <div class="button orange details">Details</div>
            <div class="button black deleteItem">Delete</div>
        </div>
    <table class="alternativeList"></table>
</div>