<td id="<%= get('id') %>">
    <%= findDecisionName() %>
</td>
<td>
    <%= get('rationale') %>
</td>
<td>
    <%= get('user') %>
</td>
<td>
    <%= get('updated_at') %>
</td>
<td class="projectName">
    ...
</td>
