<div> Name: <%= get('name') %>(<span class="decisionCount">0</span> Decisions)</div>
<table class="decisionDetails">
    <thead>
        <tr>
            <td>
                Decision
            </td>
            <td>
                Rationale
            </td>
            <td>
                Author
            </td>
            <td>
                Timestamp
            </td>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>