<td id="<%= get('id') %>">
    <%= findDecisionName() %>
</td>
<td>
    <%= get('rationale') %>
</td>
<td>
    <%= get('author_name') %>
</td>
<td>
    <%= printTimestamp() %>
</td>
<td class="projectName debug">
    ...
</td>
<td>
    <div class="button black" id="deleteDecision">Delete Decision</div>
</td>