<div class="debug"> ItemSelectorItem </div>

<div id="item">
    <b>Issue</b>: <%= get('name') %> <b>Status:</b> <span id="status">...</span> <b>Tag Counts:</b> <span id="counts">(...)</span> <div class="button" id="toggleReuse">(...)</div>
</div>