<!--<img class="anchor" src="/images/icons/anchor.png"/></a>-->
Item Details:
<div class="itemAttributes"></div>
<div id='issueStatus'>Status: <span id='issueStatus'>...</span></div>
<table class="alternativeListDetails">
    <thead/>
    <tbody/>
    <tfoot/>
</table>