<div class="floatRight">
    <div class="button width70px" id="toggleReuse">(...)</div>
</div>
<div class="debug"> ItemSelectorItem </div>

<div id="item">
    <b>Issue</b>: <%= get('name') %> 
    <div class="debug">
        <b>Status:</b> <span id="status">...</span> <b>Tag Counts:</b> <span id="counts">(...)</span> 
    </div>
</div>