<img class="anchor hide" src="/images/icons/anchor.png"/></a>
<div class="issueList">
    <img class="spinner" src="/images/spinner.gif"/>
</div>
<div class="button black" id="newIssueButton">New Issue</div>
<!-- this is triggered with click from the capture context by the capture:project:import event -->
<input id="fileupload" type="file" name="files[]" data-url="server/php/" style='display:none'>
