<td>
    <i class="icon-trash floatLeft opaqueHover" id="deleteRelation"></i> 
</td>
<td class="debug">
    Origin: <%= get('origin') %>
</td>
<td class="debug">
    Tip: <%= get('tip') %>
</td>
<td>
    <span id="relationName"></span>
</td>
<td id='subItem'>
    (<span id="subItemType" class="italic"></span>) 
    <span id="subItemName" class="bold"></span>
</td>