<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Decision rationale</h3>
</div>
<div class="modal-body">
  Your rationale for the <b>...</b> decision over the alternative: <b>...</b> is:
  <div id="rationaleText" contenteditable='true'><% get('rationale') %></div>
</div>
<div class="modal-footer">
  <a class="btn btn-primary" id="save">Save</a>
</div>