<!--
<script src="/javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backbone/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backbone/backbone.js" type="text/javascript" charset="utf-8"></script>
	-->
	
<!-- <script data-main="/javascripts/main.js" src="/javascripts/require.js"></script>-->

<h1><a href="#">CloudEdit</a></h1>
<h2>A Backbone.js Rails Example by James Yu</h2>

<div id="notice"></div>
<div id="app"></div>
<div id="tata"></div>

<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>

<%= include_javascripts :workspace %>


<script type="text/javascript" charset="utf-8">

	/*
	require({ priority: ['jquery.min']});

	require({
	    //Load jQuery before any other scripts, since jQuery plugins normally
	    //assume jQuery is already loaded in the page.
	    priority: ['underscore','backbone/backbone','backbone/application']
	});


	require(['jquery.min', 'jquery.tools.min','jquery.autogrowtextarea','backbone/backbone','backbone/application','backbone/views/index','backbone/views/show','backbone/controllers/items','backbone/models/item'], function() {
		require.ready( function() {
    	// alert('here !');
        App.init();
     });
    });
    */
            App.init();

</script>