    <div class="project" id="<%= getId() %>">
        <span>
            <span class="name"><%= get('name')  %></span>
            <span id="active"></span>
        </span>
        <div class="more">(<%= getIssueCount() %> issues)
                <!--<div class="moreDetailsButton" id="<%=getId()%>">[more]</div>-->
        </div>
        <div class="moreDetails hide">
            some more funny details come here!
        </div>
    </div>
    <br/>
    <div class="subProjects"/>