Dear user, this is your personal homepage. 
    Please select a project that you&rsquo;d like to work within:<br/>
    <div class="projectView"><img class="spinner" src="/images/spinner.gif"/></div>
    <!--<div class="button green" id="newProjectButton">New Project</div>-->
