    <div class="project" id="<%= getId() %>">
        <div class="name"><%= get('name')  %></div>
            <div class="more">(<%= getIssueCount() %> issues)
                <!--<div class="moreDetailsButton" id="<%=getId()%>">[more]</div>-->
            </div>
        <div class="moreDetails hide">
            some more funny details come here!
        </div>
    </div>
    <br/>
    <div class="subProjects"/>