     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Create a project</h3>
      </div>
      <div class="modal-body">
        Project name: <input type="text" id="projectName"></input>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" id='create'>Create</a>
      </div>