<!-- footer begining -->
<!--<div id="container"></div>-->
<div id="footer">
<% r="$Rev: 248 $"%>
<% r=r[6..-3]%>
<a href="https://saw.inf.unisi.ch/trac/timeline">Revision:</a> 
<a href="https://saw.inf.unisi.ch/trac/changeset/<%=r%>"><%=r%></a> 
 © <a href="http://www.inf.usi.ch">USI</a> 2009.</div>
<!-- end of the footer -->
