<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <%= include_stylesheets :common %>
      <%= include_javascripts :common %> 
      <script type="text/javascript">
      <% if current_user %>
        var userName = "<%= current_user.email %>";
      <% else %>
        var userName = null;
      <% end %>
      </script>
    </head>

	<body>
      <%= yield %>
      <!-- that's the end of content, javascripts start here! -->

	</body>
</html>
